
.banner {
    padding: 100px;
    text-align: center;
    color: white;
    height: 300px;
    background-image: url("/static/images/sports.jpg");
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    background: #eeeeee;
}
.club {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    padding: 20px;
}
.club a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
	background-color: #1abc9c;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        width: 100%;
    }
	    .row {
        flex-direction: column;
    }
}
