<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        Club -
        {% block title_block %}
            <!-- name -->
            Club Management System
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css & bootstrap css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block header_block %}
        <!-- header -->
    {% endblock %}
</head>

<body>
<!-- navbar -->
<div class="navbar">
    <a href="{% url 'club:index' %}" class="h1">home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'club:logout' %}" class="right h1">Logout</a>
    {% else %}
        <a href="{% url 'club:login' %}" class="right h1">login</a>
    {% endif %}
    <a href="{% url 'club:contact' %}" class="right h1">contact</a>
    <a href="{% url 'club:search' %}" class="right h1">search</a>
    {% if user.is_authenticated %}
        <a href="{% url 'club:create_club' %}" class="right h1">create</a>
        <a href="{% url 'club:myclublist' %}" class="right h1">myClubs</a>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% block body_block %}
                <!-- body block -->
            {% endblock %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% block sidebar_block %}
                <!-- sidebar_block -->
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
