{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Contact
{% endblock %}
{% block header_block %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/club.js"></script>
{% endblock %}
{% block body_block %}
    <div class="col-md-4 column">
        <div class="jumbotron">
            <div id="div1">
                <img src="/static/images/contact1.jpg" class="img-thumbnail" alt="Responsive image"/>
            </div>
            <h2>
                Overview
            </h2>
            <p>
                Club Network is a web application that aims to make it easy for people who are new to an area or city to
                find and join activity clubs and provides a system for activity club managers to advertise their clubs.
            </p>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="jumbotron">
            <div id="div2">
                <img src="/static/images/contact2.jpg" class="img-thumbnail" alt="Responsive image"/>
            </div>
            <h2>
                Advantages
            </h2>
            <p>
                Club Network provides a solution to a problem many individuals face when moving to a new
                area or city where making connections can be a challenge, also making it simple to attract more members.
            </p>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="jumbotron">
            <div id="div3">
                <img src="/static/images/contact3.jpg" class="img-thumbnail" alt="Responsive image"/>
            </div>
            <h2>
                About us
            </h2>
            <p>
                We are students of Group 49 of the course COMPSCI5012 Internet Technology at Glasgow University and this
                is our first web application. We put a lot of effort into collaborating on this, hope you will like it!
            </p>
        </div>
    </div>
    <p>*Click on any image to hide all images*</p>
{% endblock %}