{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Contact
{% endblock %}
{% block header_block %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("#div1").fadeToggle("slow");
            });
        });
    </script>
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <button>show/hide all images</button>
        <div id="div1">
            <img src="/static/images/sports.jpg" class="img-thumbnail" alt="Responsive image"/>
        </div>
        <h2>
            Heading
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
            mollis euismod. Donec sed odio dui.
        </p>
        <p>
        </p>
    </div>
{% endblock %}