{% extends 'club/base.html' %}
{% load static %}

{% block title_block %}
    Form
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
    <h1>Create a club</h1>
    <!-- form -->
    <form id="club_form" method="post" action="/club/create_club/">
        {% csrf_token %}
        <fieldset>
            {% if club_form.errors %}
              <div class="alert-danger">
                <ul>
                {% for field_errors in club_form.errors.values %}
                  {% for error in field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
                </ul>
              </div>
            {% endif %}
            {{ club_form.as_div }}
            <button type="submit" class="btn btn-primary">Create</button>
        </fieldset>
    </form>
    </div>
{% endblock %}