{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Index
{% endblock %}

{% block header_block %}
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/club.js"></script>
{% endblock %}

{% block body_block %}
    <div class="schedule">
        <a>Today is <span id="date"></span></a>
        <a><span id="time"></span></a>
        <script src="path/to/your/javascript.js"></script>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column">
            <div class="jumbotron-fluid">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel details -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel pictures -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img decoding="async" src="/static/images/slides/slide1.jpg"
                                 class="img-responsive center-block"
                                 alt="First slide">
                            <div class="carousel-caption h1">Playing sports with peers</div>
                        </div>
                        <div class="item">
                            <img decoding="async" src="/static/images/slides/slide2.jpg"
                                 class="img-responsive center-block"
                                 alt="Second slide">
                            <div class="carousel-caption h1">Appreciating art together</div>
                        </div>
                        <div class="item">
                            <img decoding="async" src="/static/images/slides/slide3.jpg"
                                 class="img-responsive center-block"
                                 alt="Third slide">
                            <div class="carousel-caption h1">Relaxing with your pets</div>
                        </div>
                    </div>
                    <!-- Carousel navbar -->
                    <a class="carousel-control left" href="#myCarousel"
                       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true"
                                                class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#myCarousel"
                       data-slide="next"><span _ngcontent-c3="" aria-hidden="true"
                                               class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block sidebar_block %}
    {% for club in club_list %}
        <div class="col-md-4 column">
            <div class="jumbotron">
                <img src="/static/images/clubtypes/{{ club.type }}.jpg" class="img-thumbnail" alt="Responsive image"/>
                <h2>
                    {{ club.name }}
                </h2>
                <p>
                    {{ club.description }}
                </p>
                <p>
                    <a class="btn" href="{% url 'club:view_club' club_id=club.id %}">View details »</a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}