{% extends 'club/base.html' %}
{% load static %}
{% load staticfiles %}
{% block title_block %}
Index
{% endblock %}

{% block header_block %}
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
    <div class="banner">
    <h1>Club Management</h1>
</div>
{% endblock %}

{% block sidebar_block %}
    <div class="row">
        <div class="club">
        <h2>club1</h2>
        <div class="fakeimg" style="height:200px;">image</div>
	    <h3>star：</h3>
        <p>type</p>
        <p>city</p>
        <p>description</p>
        <a href="#" class="right">join</a>
    </div>
    <div class="club">
        <h2>club1</h2>
        <div class="fakeimg" style="height:200px;">image</div>
	    <h3>star：</h3>
        <p>type</p>
        <p>city</p>
        <p>description</p>
        <a href="#" class="right">join</a>
    </div>
    <div class="club">
        <h2>club1</h2>
        <div class="fakeimg" style="height:200px;">image</div>
	    <h3>star：</h3>
        <p>type</p>
        <p>city</p>
        <p>description</p>
        <a href="#" class="right">join</a>
    </div>
</div>
{% endblock %}