{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to user</h1>
    <form id="login_form" method="post" action="{% url 'club:login' %}">
        {% csrf_token %}
        <h3>Email</h3>
        <input type="text" name="email" value="email" size="50"/>
        <br/>
        <h3>Password</h3>
        <input type="password" name="password" value="password" size="50"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}