{% extends 'club/myclub_base.html' %}
{% load static %}
{% block title_block %}
    My club
{% endblock %}

{% block header_block %}
{% endblock %}


{% block clubdetails_block %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- approval -->
    <h1>Approval</h1>
    <div class="row clearfix">
        {% for approval in approval_list %}
            <div class="col-md-6 column">
                <div class="jumbotron">
                    <h2>{{ approval.user.username }}</h2>
                    <h3 class="glyphicon glyphicon-envelope">{{ approval.user.email }}</h3>
                    <h3 class="glyphicon glyphicon-calendar">{{ approval.user.birthday }}</h3>
                    <form action="{% url 'club:deal_approval' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="approval_id" value="{{ approval.id }}">
                        <button type="submit" class="btn btn-primary btn-large" name="approval" value="approve">
                            approve
                        </button>
                        <button type="submit" class="btn btn-danger btn-large pull-right" name="approval"
                                value="reject">reject
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}