{% extends 'club/myclub_base.html' %}
{% load static %}
{% block title_block %}
    My club
{% endblock %}

{% block header_block %}
{% endblock %}


{% block clubdetails_block %}
    <h1>Evaluate the club</h1>
    <div class="jumbotron">
        <div class="rate-content">
             {% if message %}
                <ul class="alert-danger">
                    {{ message }}
                </ul>
             {% endif %}
            <form action="{% url 'club:like_or_dislike_club' %}" method="post">
                {% csrf_token %}
                <input type="radio" id="like" name="evaluate" value="like">
                <label for="like">like</label>
                <input type="radio" id="dislike" name="evaluate" value="dislike">
                <label for="dislike">dislike</label>
                <div>
                    <input type="hidden" name="club_id" value="{{ club.id }}">
                    <button type="submit" class="btn btn-primary btn-large">submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}