{% extends 'club/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Register for user</h1>
        {% if registered %}
            Club says: <strong>thank you for registering!</strong>
            <a href="{% url 'club:index' %}">Return to the homepage.</a><br/>
        {% else %}
            Club: <strong>register here!</strong><br/>
            <form id="user_form" method="post" action="{% url 'club:register' %}"
                  enctype="multipart/form-data">

                {% csrf_token %}
                <!-- Display each form -->
                {{ user_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
    </div>
{% endblock %}