{% extends 'club/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Register for user</h1>
        {% if registered %}
            Club says: <strong>thank you for registering!</strong>
            <a href="{% url 'club:index' %}">Return to the homepage.</a><br/>
        {% else %}
            Club: <strong>register here!</strong><br/>
            <form id="user_form" method="post" action="{% url 'club:register' %}"
                  enctype="multipart/form-data">

                {% csrf_token %}
                <!-- Display each form -->
                {% if register_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                        {% for field_errors in register_form.errors.values %}
                            {% for error in field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                </div>
                <div class="form-group">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Enter your birthday">
                </div>

                <!-- Provide a button to click to submit the form. -->
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        {% endif %}
    </div>
{% endblock %}