{% extends 'club/base.html' %}
{% load static %}
{% load staticfiles %}
{% block title_block %}
    Search
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body_block %}
    <h1>Search by type</h1>
    <div class="search">
        <input type="text" class="searchTerm" placeholder="type">
        <button type="submit" class="searchTerm">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <h1>Search by city</h1>
    <div class="search">
        <input type="text" class="searchTerm" placeholder="city">
        <button type="submit" class="searchTerm">
            <i class="fa fa-search"></i>
        </button>
    </div>
{% endblock %}

{% block sidebar_block %}
    <div class="row clearfix">
        <div class="col-md-4 column">
            <img alt="140x140" src="/static/images/sports.jpg" class="img-thumbnail" alt="Responsive image"/>
        </div>
        <div class="col-md-8 column">
            <h1>Club name</h1>
            <li>Club type</li>
            <li>Club city</li>
            <li>Like</li>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
{% endblock %}