{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Search
{% endblock %}

{% block header_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body_block %}
{#    <h1>Search by type</h1>#}
    {% if message %}
        <div class="alert-danger">
            <li>{{ message }}</li>
        </div>
    {% endif %}
    <div class="search">
        <form method="post" action="{% url 'club:search' %}">
            {% csrf_token %}
            <input type="text" class="searchTerm" placeholder="Search by name, type or location" name="key">
            <button type="submit" class="searchTerm">
                <i class="fa fa-search"></i>
            </button>
        </form>

    </div>


    <div class="searchbar">
        <div class="searchbar-wrapper">
            <div class="searchbar-left">
                <div class="search-icon-wrapper">
                    <button type="submit" class="search-button">
                <span class="search-icon searchbar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                        </path>
                    </svg>
                </span>
                    </button>
                </div>
            </div>

            <div class="searchbar-center">
                <div class="searchbar-input-spacer"></div>
                <input type="text" class="searchbar-input" maxlength="2048" name="q" autocapitalize="off"
                       autocomplete="off" title="Search" role="combobox" placeholder="Search Google">
            </div>
        </div>
    </div>
{#    <h1>Search by city</h1>#}
{#    <div class="search">#}
{#        <form method="post" action="{% url 'club:search' %}">#}
{#            {% csrf_token %}#}
{#            <input type="text" class="searchTerm" placeholder="city" name="location"  >#}
{#            <button type="submit" class="searchTerm">#}
{#                <i class="fa fa-search"></i>#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{% endblock %}

{% block sidebar_block %}
    <div class="row clearfix">
        {% for club in clubs %}
            <div class="col-md-4 column">
                <img alt="140x140" src="/static/images/sports.jpg" class="img-thumbnail" alt="Responsive image"/>
            </div>
            <div class="col-md-8 column">
                <h1>Club name: {{club.name}}</h1>
                <li>Club type: {{club.type}}</li>
                <li>Club city: {{club.location}}</li>
                <li>Like" {{club.likes}}</li>
                <li class="h3">Description</li>
                <p class="form-control" id="description">{{ club.description }}</p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}