{% extends 'club/base.html' %}
{% load static %}
{% block title_block %}
    Search
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body_block %}
{#    <h1>Search by type</h1>#}
    {% if message %}
        <div class="alert-danger">
            <li>{{ message }}</li>
        </div>
    {% endif %}
    <div class="search">
        <form method="post" action="{% url 'club:search' %}">
            {% csrf_token %}
            <input type="text" class="searchTerm" placeholder="Search by name, type or location" name="key">
            <button type="submit" class="searchTerm">
                <i class="fa fa-search"></i>
            </button>
        </form>

    </div>
{#    <h1>Search by city</h1>#}
{#    <div class="search">#}
{#        <form method="post" action="{% url 'club:search' %}">#}
{#            {% csrf_token %}#}
{#            <input type="text" class="searchTerm" placeholder="city" name="location"  >#}
{#            <button type="submit" class="searchTerm">#}
{#                <i class="fa fa-search"></i>#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{% endblock %}

{% block sidebar_block %}
    <div class="row clearfix">
        {% for club in clubs %}
            <div class="col-md-4 column">
                <img alt="140x140" src="/static/images/sports.jpg" class="img-thumbnail" alt="Responsive image"/>
            </div>
            <div class="col-md-8 column">
                <h1>Club name: {{club.name}}</h1>
                <li>Club type: {{club.type}}</li>
                <li>Club city: {{club.location}}</li>
                <li>Like" {{club.likes}}</li>
                <li class="h3">Description</li>
                <p class="form-control" id="description">{{ club.description }}</p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}